p {
	font-size: 14px;
	font-weight: 300;
	line-height: 23px;
}
.logo{
	text-align: center;
	padding-left: 10%;
	height: auto;
}
html, body, section, .page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
  color: #fff;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.page {
	position: absolute;
	padding: 0;
	margin:0;

}

.form-control{

	border: 1px solid #fff;
}
#p1 {
  left: 0;
  background-image: url(../img/home-bg.png);
  background-repeat: no-repeat;
	background-size: cover;
	padding-left: 5px;
}
#p2 {
  left: 100%;
	background-color:#603c50;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 5px;
}

#p3 {
  left: 200%;
  background-color:transparent;
	margin: 0;
	padding: 0;
}
#p4 {
  left: 300%;
  background-color: #603c50;
	background-repeat: no-repeat;
	background-size: cover;
	padding-left: 5px;
}
ul {
 position: fixed; 
 z-index: 1;

}
#t1:target .page#p1 {
    transform: translateX(0);
}
#t2:target .page#p2 {
    transform: translateX(-90%);
}
#t3:target .page#p3 {
    transform: translateX(-190%);
}
#t4:target .page#p4 {
    transform: translateX(-290%);
}
#t1:target ul, 
#t2:target ul, 
#t3:target ul,
#t4:target ul {
	background-color: #1e1b1d;

	border-right: 1px solid #fff;

}

.page#p1 {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#t2:target .page#p1 .icon, 
#t3:target .page#p1 .icon,
#t4:target .page#p1 .icon {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.icon {
  color: #fff;
  font-size: 40px;
	display: block;
}

hr{
	border-style: solid;
}

ul .icon:hover {
	color:#c1b5dd;
  opacity: 0.8;
}

#t1:target ul .icon,
#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon {
  transform: scale(1); 
  transition-delay: .1s;
}

#t1:target #first {
	color: #c1b5dd;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#t2:target #second {
	color: #c1b5dd;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#t3:target #third {
	color: #c1b5dd;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

#t4:target #fourth {
	color: #c1b5dd;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
}

ul {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
	height: auto;
  width: 10%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  text-align: center;
  background-color: rgba(48, 51, 60, 0);
 }

ul li {
  margin: 30px 0;
}

a {
  text-decoration: none!important;
}
.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 60px;
  line-height: 1.3;
}

.page#p1 .icon {
  margin-left: 10%;
  	height: 400px;
}

.page#p1 .icon {
  transform: translateX(0) !important;
}

#t1:target .page#p1 .icon {
  transform: translateX(0) !important;
}

#t2:target .page#p2 .icon {
  transform: translateX(0) !important;
}

#t3:target .page#p3 .icon {
  transform: translateX(0) !important;
}

#t4:target .page#p4 .icon {
  transform: translateX(0) !important;
}
.primary-button a {
	display: inline-block;
	padding: 15px 25px;
	background-color: #d32a2d;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.5px;
	border-radius: 25px;
	border: 1px solid transparent;
	border: 1px solid #fff;
	text-decoration: none;
}
.primary-button a:hover {
	background-color: #fff ;
	opacity: 0.8;
	border-radius: 25px;
	border: 1px solid transparent;
	border: 1px solid #d32a2d;
	color:#d32a2d;
}
#p1 .primary-button {
	display: block;
	margin-top: -20px;
  padding-bottom: 60px;
}

#counter {
	display: inline-block;
	padding: 15px 25px;
	background-color: #8c734b;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.5px;
	border: 1px solid transparent;
	border: 1px solid #fff;
	text-decoration: none;
}
#counter:hover {
	background-color: #8c734bcc ;
	border: 1px solid #fff;

	color:#fff;
}

#Select-Section{
	margin-bottom: 20px;
	padding-left: 15px;
	width:90%;
	min-height: 35px;
	
	display: inline-block;
	line-height: 40px;
	font-size: 13px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	box-shadow: none;
}
.select{
	background-color: #603c50;
	outline: none!important;
}
#p2 {
	overflow-y: scroll;
}
#POST-name{
width: 90%;
}
#p1 p {
	margin: 20px 30% 20px
}
@media (max-width: 600px){ 
  ul {
    padding-top: 50%!important;
  }
}
@media (max-width: 850px){ 
	#p1 {
		padding-left: 8%;
	}
	#p2 {
		padding-left: 8%;
	}
	
	#p3 {
		padding-left: 8%;
	}
	#p4 {
		padding-left: 8%;
	}
  ul {
		padding-top: 10%;
			width: 18%;
			text-align: center;
			background-color: rgba(48, 51, 60, 0);
		 }
  }
	.page#p1 .icon {
	  	height: auto;
	  	padding: 80px 0px 0px 4%;
  }
  #p1 .primary-button {
    margin-bottom: 100px;
  }
	#p1 p {
		margin: 20px;
	}
	html, body, section, .page {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    margin: 0;
	    padding: 0;
	    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
	    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
	    color: #fff;
	    background: #30333c;
}
